* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post-enter {
    transform: translateX(-350px);
    transform: scale(0);
    opacity: 0;
}

.post-enter-active {
    transform: translateX(0px);
    transform: scale(1);
    opacity: 1;
    transition: all 200ms ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    transform: translateX(-350px);
    opacity: 0;
    transform: scale(0);
    transition: all 200ms ease-in;
}

.page__wrapper {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 10px 0;
}

.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page__current {
    border: 2px solid orange;
    font-weight: bold;
}
